body {
    background-image: url(imagenes/background-img-1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
}

* {
    font-family: 'Montserrat', sans-serif;
}

button {
    display: block;
    background: #A9CA8F;
    border-color: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    width: 12em;
    height: 4em;
    padding: 1%;
    margin: 1em;
}

input {
    display: block;
    width: 16em;
    height: 2em;
    padding: 1%;
    margin: 1em;
    text-align: left;
    border: 2px solid #f2ad94;
    border-radius: 4px;
}

.modal {
    width: 16em;
    height: 3.5em;
    padding: 1px;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    border: 2px solid #f2ad94;
    border-radius: 4px;
}

#bttonModal {
    width: 1.7em;
    height: 1.7em;
    padding: 1px;
    margin: 0.3em 1em 0em 7em;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

/* HOME */
.divOneHome {
    background: #D9D9D9;
    width: 32em;
    height: 34em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoHome {
    margin: 1em 0.5em 0em 0.5em;
    width: 18em;
    height: auto;
    object-fit: cover;
}

h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 1em 0.5em 0.2em 0.5em;
}

h3{
    text-align: center;
    font-size: 1em;
    font-style: italic;
    margin: 1em 3em 0em 3em;
}

.bttonToLogin {
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 2em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}

.bttnRegisterHome{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}

.buttonGoogle{
    width: 10em;
    height: 2.3em;
    padding: 0;
    margin: 0.5em 1em 0.5em 1em;
    cursor: pointer;
}

/* LOGIN */

.divOneLogin {
    background: #D9D9D9;
    width: 32em;
    height: 33em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoLogin {
    margin: 0em 0.5em 0em 0.5em;
    width: 18em;
    height: auto;
    object-fit: cover;
}

h1{
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 1.5em 0.5em 1em 0.5em;
}

.inputEmailLogin {
    margin: 1em 1em 0.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.inputPassLogin {
    margin: 1em 1em 1.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.bttnLogin{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 0em 0.8em 4em;
    font-size: medium;
    font-weight: bold;
}

.bttnReturnLogin{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 0em 0.5em 4em;
    font-size: medium;
    font-weight: bold;
}

/* REGISTER */

.divOneRegister {
    background: #D9D9D9;
    width: 32em;
    height: 37em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoRegister {
    margin: 1em 0.5em 0em 0.5em;
    width: 18em;
    height: auto;
    object-fit: cover;
}

h1 {
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    margin: 1em 0.5em 2em 0.5em;
}

.inputEmailRegister {
    margin: 1em 1.7em 0.5em 1.5em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.inputPassRegister {
    margin: 1em 1.5em 0.5em 1.5em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.textPasswordRegister {
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    font-style: italic;
    margin: 0.5em 1em 1.5em 1em;
}

.bttonRegister{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 1.5em 0em 0.8em 4.5em;
    font-size: medium;
    font-weight: bold;
}

.bttonBackToHome{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 0em 0.5em 4.5em;
    font-size: medium;
    font-weight: bold;
}

/* WELCOME */

.divOneWelcome {
    background: #D9D9D9;
    width: 32em;
    height: 34em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoWelcome {
    margin: 0em 0.5em 0em 0.5em;
    width: 18em;
    height: auto;
    object-fit: cover;
}

h1 {
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    margin: 1em 0.5em 0.2em 0.5em;
}

h2 {
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
    margin: 1em 3em 0em 3em;
}

p {
    text-align: center;
    font-size: 1em;
    font-style: italic;
    margin: 1em 1em 0em 1em;
}

.buttonToFeed {
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 2em 1em 0em 1em;
    font-size: medium;
    font-weight: bold;
}

/* .bttnExitHome {
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}
 */
/* FEED */

.mainFeed {
    background: #D9D9D9;
    width: 40em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 1em;
    left: 22em;
}

.sectionFeed {
    display: flex;
    align-items: center;
}

.logoFeed {
    margin: 0.9em 0em 0em 0em;
    width: 6em;
    height: auto;
    object-fit: cover;
}

.titleFeed {
    margin: 0.9em 0em 0em 0em;
    width: 7em;
    height: auto;
    font-size: 2em;
}

.bttnExitHome {
    width: 8em;
    height: 2.9em;
    padding: 1%;
    margin: 0.9em 2em 0em 20em;
    font-size: 0.7em;
    font-weight: bold;
}

.userName {
    font-size: 1.1em;
}

.fieldsetInput {
    border-color: #f2ad94;
    border-style: double;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 38em;
    margin-bottom: 2em;
}

.recipeTitle {
    border-color: #f2ad94;
    border-style: double;
    border-radius: 10px;
    width: 42.2em;
}

.inputFeed {
    margin: 0em 1em 0em 1em;
    border-color: #f2ad94;
    border-style: double;
    border-radius: 10px;
    width: 43em;
    height: 10em;
    resize: none;
    white-space: pre-wrap;
}

.bttonSubmit {
    width: 6em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 1em 0.5em 1em;
    font-size: small;
    font-weight: light;
}

.sectionPost {
    border-color: #f2ad94;
    border-style: double;
    border-radius: 10px;
    margin: 2em 0em 0em 0em;
    background: #FFEBEB;
}

.sectionButtnPost {
    display: flex;
    margin-top: 1em;
    height: auto;
}

.btton-delete {
    width: 6em;
    height: 2.5em;
    padding: 1%;
    font-size: small;
    font-weight: light;
    margin: 1.5em 1em 0.5em 1em;
}

.modalPost {
    width: 18em;
    height: 8em;
    padding: 1em;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    border: 2px solid #f2ad94;
    border-radius: 4px;
}

#bttonConfirm {
    width: 6em;
    height: 2em;
    padding: 1px;
    margin: 1em 1em 1em 6em;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

#bttonCancel {
    width: 6em;
    height: 2em;
    padding: 1px;
    margin: 0.5em 1em 0em 6em;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

.btton-edit {
    width: 6em;
    height: 2.5em;
    padding: 1%;
    font-size: small;
    font-weight: light;
    margin: 1.5em 1em 0.5em 0em;
}

.imageLike {
    width: 40px;
    margin: 1.2em 1em 0.5em 23.5em;
}


/*Media query para tablet*/
/*Media query para tablet
@media screen and (max-width:600px) {
    /*Home*/
    /*Login*/
    /*Register
    
    .logoRegister {
        width: 12em;
        height: auto;
        object-fit: cover;
        align-content: center;
    }

    .logoLogin {
        align-content: center;
    }
}
/*Media query para celular*/

@media screen and (max-width:450px) {

body {
    background-image: url(imagenes/background-img-1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    margin: 0em;
    width: 14em;
    height: auto;
    object-fit: cover;
}
  /*Home*/
.divOneHome {
    background: #D9D9D9;
    width: 18em;
    height: 38em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 3px 25px 3px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoHome {
    margin: 0em 0.5em 0em 0.5em;
    width: 14em;
    height: auto;
    object-fit: cover;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0em 0.5em 0em;
}

h3 {
    text-align: center;
    font-size: 1em;
    font-style: italic;
    margin: 1em 0em 1.7em 0em;
}

.bttonToLogin {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 0.2em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}

.bttnRegisterHome {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 0.5em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}

.buttonGoogle {
    width: 14.4em;
    height: 3.5em;
    padding: 0;
    margin: 0.5em 1em 0.5em 1em;
}

 /*login*/
.divOneLogin {
    background: #D9D9D9;
    width: 18em;
    height: 38em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoLogin {
    margin: 0em 1.5em 3em 1.7em;
    width: 14em;
    height: auto;
    object-fit: cover;
}

h1 {
    margin: 0em 1em 1em 1em;
    text-align: center;
    font-size: 2em;
}

.inputEmailLogin {
    margin: 0em 1em 0.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.inputEmailLogin:focus {
    box-shadow: 0 0 0 0.5px #A9CA8F;
    outline: none;
}

.inputPassLogin {
    margin: 1em 1em 0.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.bttnLogin {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 1em 1em 0.5em 3em;
    font-size: medium;
    font-weight: bold;
}

.bttnReturnLogin {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 1em 1em 0.5em 3em;
    font-size: medium;
    font-weight: bold;
}
    
    /*Register*/
.divOneRegister {
    background: #D9D9D9;
    width: 18em;
    height: 38em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoRegister {
    margin: 0em 1.5em 2em 1.7em;
    width: 14em;
    height: auto;
    object-fit: cover;
}

.titleRegister {
    text-align: center;
    font-size: 1.7em;
    margin: 0em 1em 1em 1em;
}

.divTwoRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputEmailRegister {
    margin: 1em 1em 0.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.inputEmailRegister:focus {
    box-shadow: 0 0 0 0.5px #ffffff;
    outline: none;
}

.inputPassRegister {
    margin: 1em 1em 0.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.textPasswordRegister {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
    margin-top: 0em;
    padding-top: 0em;
}

.bttonRegister {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 2em 1.9em 0em 3em;
    font-size: medium;
    font-weight: bold;
}

.bttonBackToHome {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 1em 1.5em 0.5em 3em;
    font-size: medium;
    font-weight: bold;
}

/*Welcome*/
.divOneWelcome {
    background: #D9D9D9;
    width: 18.5em;
    height: 38.3em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoWelcome {
    margin: 0em 1.5em 0.5em 1.7em;
    width: 14em;
    height: auto;
    object-fit: cover;
}

.welcomeMessage {
    text-align: center;
    font-size: 1em;
    margin: 1em 0em 1em 0em;
}

.titleWelcome{
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0em 1em 0em;
}

.buttonToFeed {
    text-align: center;
    font-size: 0.95em;
    font-style: italic;
    margin: 0.5em 0em 1em 0em;
}

.buttonHomeWelcome {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 0.5em 3.2em 0.5em 3em;
    font-size: medium;
    font-weight: bold;
}

.bttnExitHome {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 0.5em 3.2em 0.5em 3em;
    font-size: medium;
    font-weight: bold;
}

.modal {
    width: 16em;
    height: 4em;
    padding: 1%;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    border: 2px solid #f2ad94;
    border-radius: 4px;
}

#bttonModal {
    width: 1.7em;
    height: 1.7em;
    padding: 1%;
    margin: 1em 1em 1em 7em;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

/* FEED */

.mainFeed {
    background: #D9D9D9;
    width: 19em;
    height: fit-content;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 1em;
    left: 1.5em;
}

.sectionFeed {
    display: flex;
    align-items: center;
    height: auto;
}

.logoFeed {
    margin: 0.9em 0em 0em 0em;
    width: 5em;
    height: auto;
    object-fit: cover;
}

.titleFeed {
    margin: 0.9em 0em 0em 0em;
    width: 6em;
    height: auto;
    font-size: 1.5em;
}

.bttnExitHome {
    width: 8em;
    height: 2.9em;
    padding: 1%;
    margin: 0.9em 2em 0em 0em;
    font-size: 0.7em;
}

.userName {
    font-size: 1.1em;
}

.fieldsetInput {
    border-color: #f2ad94;
    border-style: double;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 17em;
}

.recipeTitle {
    border-color: #f2ad94;
    border-style: double;
    border-radius: 10px;
    width: 18em;
}

.inputFeed {
    margin: 0em 1em 0em 1em;
    border-color: #f2ad94;
    border-style: double;
    border-radius: 10px;
    width: 18em;
    height: 10em;
    resize: none;
}

.bttonSubmit {
    width: 6em;
    height: 2.7em;
    padding: 1%;
    margin: 0.5em 1em 0.5em 1em;
    font-size: small;
    font-weight: light;
}

.sectionPost {
    border-color: #f2ad94;
    border-style: double;
    border-radius: 10px;
    margin: 0em;
    background: #FFEBEB;
    width: 18.5em;
    height: auto;
}

.sectionButtnPost {
    display: flex;
    margin-top: 1em;
    height: auto;
}

.btton-delete {
    width: 6em;
    height: 2.5em;
    padding: 1%;
    font-size: small;
    font-weight: light;
    margin: 1.5em 1em 0.5em 1em;
}

.imageLike {
    width: 40px;
    margin: 1.2em 1em 0.5em 2em;
}

.modalPost {
    width: 18em;
    height: 8em;
    padding: 1em;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    border: 2px solid #f2ad94;
    border-radius: 4px;
}

#bttonConfirm {
    width: 6em;
    height: 2em;
    padding: 1px;
    margin: 1em 1em 1em 6em;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

#bttonCancel {
    width: 6em;
    height: 2em;
    padding: 1px;
    margin: 0.5em 1em 0em 6em;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

.btton-edit {
    width: 6em;
    height: 2.5em;
    padding: 1%;
    font-size: small;
    font-weight: light;
    margin: 1.5em 1em 0.5em 0em;
}




}