body {
    background-image: url(imagenes/background-img-1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.imagenLike{
    width: 40px;
}

button {
    display: block;
    background: #A9CA8F;
    border-color: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    width: 12em;
    height: 4em;
    padding: 1%;
    margin: 1em;
}

input {
    display: block;
    width: 16em;
    height: 2em;
    padding: 1%;
    margin: 1em;
    text-align: left;
    border: 2px solid #f2ad94;
    border-radius: 4px;
}

.modal {
    width: 16em;
    height: 3.5em;
    padding: 1px;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    border: 2px solid #f2ad94;
    border-radius: 4px;
}

#botonModal {
    width: 1.7em;
    height: 1.7em;
    padding: 1px;
    margin: 0.3em 1em 0em 7em;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

.divOneHome {
    background: #D9D9D9;
    width: 32em;
    height: 34em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoHome {
    margin: 1em 0.5em 0em 0.5em;
    width: 18em;
    height: auto;
    object-fit: cover;
}

h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 1em 0.5em 0.2em 0.5em;
}

h3{
    text-align: center;
    font-size: 1em;
    font-style: italic;
    margin: 1em 3em 0em 3em;
}

.bttnLoginHome {
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 2em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}

.bttnRegisterHome{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}

.buttonGoogle{
    width: 10em;
    height: 2.3em;
    padding: 0;
    margin: 0.5em 1em 0.5em 1em;
    cursor: pointer;
}

.divOneLogin {
    background: #D9D9D9;
    width: 32em;
    height: 33em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoLogin {
    margin: 0em 0.5em 0em 0.5em;
    width: 18em;
    height: auto;
    object-fit: cover;
}

h1{
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 1.5em 0.5em 1em 0.5em;
}

.inputEmailLogin {
    margin: 1em 1em 0.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.inputPassLogin {
    margin: 1em 1em 1.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.bttnLogin{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 0em 0.8em 4em;
    font-size: medium;
    font-weight: bold;
}

.bttnReturnLogin{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 0em 0.5em 4em;
    font-size: medium;
    font-weight: bold;
}

.divOneRegister {
    background: #D9D9D9;
    width: 32em;
    height: 37em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoRegister {
    margin: 1em 0.5em 0em 0.5em;
    width: 18em;
    height: auto;
    object-fit: cover;
}

h1{
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    margin: 1em 0.5em 2em 0.5em;
}

.emailRegister {
    margin: 1em 1.7em 0.5em 1.5em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.passwordRegister {
    margin: 1em 1.5em 0.5em 1.5em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.textPasswordRegister {
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    font-style: italic;
    margin: 0.5em 1em 1.5em 1em;
}

.btonRegister{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 1.5em 0em 0.8em 4.5em;
    font-size: medium;
    font-weight: bold;
}

.btonRegresar{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 0em 0.5em 4.5em;
    font-size: medium;
    font-weight: bold;
}

.divOneWelcome {
    background: #D9D9D9;
    width: 32em;
    height: 37em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoWelcome {
    margin: 1em 0.5em 0em 0.5em;
    width: 18em;
    height: auto;
    object-fit: cover;
}

h1{
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    margin: 1em 0.5em 0.2em 0.5em;
}

h2{
    text-align: center;
    font-size: 1.1em;
    font-style: italic;
    margin: 1em 3em 0em 3em;
}

p {
    text-align: center;
    font-size: 1em;
    font-style: italic;
    margin: 1em 1em 0em 1em;
}

.buttonHomeWelcome {
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 2em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}

.bttnExitHome{
    width: 10em;
    height: 2.5em;
    padding: 1%;
    margin: 0.5em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}


/*img {
    width: 30em;
    height: 23em;
    object-fit: cover;
} */

/*Media query para tablet*/
/*Media query para tablet
@media screen and (max-width:600px) {
    /*Home*/
    /*Login*/
    /*Register
    
    .logoRegister {
        width: 12em;
        height: auto;
        object-fit: cover;
        align-content: center;
    }

    .logoLogin {
        align-content: center;
    }
}
/*Media query para celular*/

@media screen and (max-width:450px) {

body {
    background-image: url(imagenes/background-img-1.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    margin: 0em;
    width: 14em;
    height: auto;
    object-fit: cover;
}
  /*Home*/
.divOneHome {
    background: #D9D9D9;
    width: 18em;
    height: 38em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 3px 25px 3px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoHome {
    margin: 0em 0.5em 0em 0.5em;
    width: 14em;
    height: auto;
    object-fit: cover;
}

h2{
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0em 0.5em 0em;
}

h3{
    text-align: center;
    font-size: 1em;
    font-style: italic;
    margin: 1em 0em 1.7em 0em;
}

.bttnLoginHome {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 0.2em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}

.bttnRegisterHome{
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 0.5em 1em 0.5em 1em;
    font-size: medium;
    font-weight: bold;
}

.buttonGoogle{
    width: 14.4em;
    height: 3.5em;
    padding: 0;
    margin: 0.5em 1em 0.5em 1em;
}

 /*login*/
.divOneLogin {
    background: #D9D9D9;
    width: 18em;
    height: 38em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoLogin {
    margin: 0em 1.5em 3em 1.7em;
    width: 14em;
    height: auto;
    object-fit: cover;
}

h1{
    margin: 0em 1em 1em 1em;
    text-align: center;
    font-size: 2em;
}

.inputEmailLogin {
    margin: 0em 1em 0.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.inputEmailLogin:focus {
    box-shadow: 0 0 0 0.5px #A9CA8F;
    outline: none;
}

.inputPassLogin {
    margin: 1em 1em 0.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

/* .bttnForgotPassLogin {
    width: 15em;
    height: 3em;
    padding: 1%;
    margin: 1em 1.5em 0.5em 1.7em;
    border-color: #D9D9D9;
    font-size: medium;
    font-weight: bold;
} */

.bttnLogin {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 1em 1em 0.5em 3em;
    font-size: medium;
    font-weight: bold;
}

.bttnReturnLogin {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 1em 1em 0.5em 3em;
    font-size: medium;
    font-weight: bold;
}
    
    /*Register*/
.divOneRegister {
    background: #D9D9D9;
    width: 18em;
    height: 38em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoRegister {
    margin: 0em 1.5em 2em 1.7em;
    width: 14em;
    height: auto;
    object-fit: cover;
}

.titleRegister {
    text-align: center;
    font-size: 1.7em;
    margin: 0em 1em 1em 1em;
}

.divTwoRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emailRegister {
    margin: 1em 1em 0.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.emailRegister:focus {
    box-shadow: 0 0 0 0.5px #ffffff;
    outline: none;
}

.passwordRegister {
    margin: 1em 1em 0.5em 1em;
    padding: 1%;
    font-size: medium;
    font-weight: normal;
}

.textPasswordRegister {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
    margin-top: 0em;
    padding-top: 0em;
}

.btonRegister {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 2em 1.9em 0em 3em;
    font-size: medium;
    font-weight: bold;
}

.btonRegresar {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 1em 1.5em 0.5em 3em;
    font-size: medium;
    font-weight: bold;
}

/*Welcome*/
.divOneWelcome {
    background: #D9D9D9;
    width: 18.5em;
    height: 38.3em;
    border-color: #A9CA8F;
    border-style: double;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoWelcome {
    margin: 0em 1.5em 0.5em 1.7em;
    width: 14em;
    height: auto;
    object-fit: cover;
}

.mensajeWelcome {
    text-align: center;
    font-size: 1em;
    margin: 1em 0em 1em 0em;
}

.titleWelcome{
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0em 1em 0em;
}

.textoBienvenida {
    text-align: center;
    font-size: 0.95em;
    font-style: italic;
    margin: 0.5em 0em 1em 0em;
}

.buttonHomeWelcome {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 0.5em 3.2em 0.5em 3em;
    font-size: medium;
    font-weight: bold;
}

.bttnExitHome {
    width: 12em;
    height: 3em;
    padding: 1%;
    margin: 0.5em 3.2em 0.5em 3em;
    font-size: medium;
    font-weight: bold;
}

.modal {
    width: 16em;
    height: 4em;
    padding: 1%;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    border: 2px solid #f2ad94;
    border-radius: 4px;
}

#botonModal {
    width: 1.7em;
    height: 1.7em;
    padding: 1%;
    margin: 1em 1em 1em 7em;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

}